<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>

    <body>

        <div class="container mt-4">
            <div class="card">
                <div class="card-body">
                    <% if (messages.success) { %>
                        <p class="alert alert-success m2-4 mb-2"><%- messages.success %></p>
                    <% } %>

                    <h2>Please fill the form below!</h2>

                    <form action="contact-us" method="post">
                        <div class="form-group">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control col-lg-9" id="f_name" aria-describedby="emailHelp" placeholder="Enter your first name" name="f_name">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control col-lg-9" id="l_name" aria-describedby="emailHelp" placeholder="Enter your last name" name="l_name">
                        </div>
                        <div class="form-group">
                            <label for="emailAddress">Email Address</label>
                            <input type="email" class="form-control col-lg-9" id="email" aria-describedby="emailHelp" placeholder="Enter your email here" name="email">
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <input type="text" class="form-control col-lg-9" id="message" aria-describedby="emailHelp" placeholder="Type your feedback here" name="message">
                        </div>
                        <buttton type="submit" class="btn btn-primary">Submit</buttton>
                    </form>
                </div>
            </div>
        </div>
        
        
    </body>
</html>